<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preview • Pico.css</title>
    <meta
            name="description"
            content="A starter example with all elements and components used in Pico design system. Built with Pico CSS."
    />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/preview/" />

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>

<body>
<!-- Header -->
<header class="container">
    <hgroup>
        <h1>Pico</h1>
        <h2>A starter example with all elements and components used in Pico design system.</h2>
    </hgroup>
</header>
<!-- ./ Header -->

<main class="container">
    <article class="card">
        <h2 class="card-title"><a href="#">Software Engineer</a> </h2>
        <p class="text-gray-800">New York, NY</p>
        <p>
            We are seeking a talented Software Engineer to join our team. You will be responsible for developing high-quality software applications and ensuring their scalability and performance.
        </p>
        <h4>Budget:</h4>
        <p>$80,000 - $100,000 per year</p>

        <h4>Published at:</h4>
        <p>3 hours ago</p>
    </article>
</main>

<footer class="container">
    <small
    >Built with <a href="https://picocss.com">Pico</a>.</small>
</footer>
</body>
</html>
